body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h1 {
  color: #333;
  text-align: center;
  padding: 20px 0;
}

#file-input, #transcribe-button {
  display: block;
  margin: 20px auto;
  padding: 10px;
  font-size: 16px;
}

#transcribe-button {
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

#transcribe-button:hover {
  background-color: #444;
}

#result, #transcribed-text {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
  min-height: 50px;
}